@using X.PagedList.Mvc.Core; 
@using X.PagedList; 
@using X.PagedList.Mvc.Common
@using System.Web;
@using X.PagedList.Mvc.Core.Fluent
@model IPagedList<Product>

@{

    <h1 align="center" style="padding-top: 40px;">Kategorie: @ViewBag.category</h1>

    <section style="padding-top: 40px; padding-bottom: 50px">
        <div class="container">
            <div class="row">
                @foreach (var product in Model){
                    <div class="col-4">
                        <div class="card">
                            <img class="card-img-top" src="@product.ImageSrc" alt="@product.ImageAlt">
                                <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">Cena: @product.Price,- Kč</p>
                                <a asp-area="admin" asp-controller="products" asp-action="Details" asp-route-id="@product.ID" class="btn btn-primary">Detail</a>
                                <button type="button" class="btn btn-danger" onclick="Buy(@product.ID,'@Url.Action("AddOrderItemsToSession", "CustomerOrderNotCart", new { Area = "Customer" })', '#total_price', '@System.Globalization.CultureInfo.CurrentCulture.Name')">Buy</button>
                            </div>
                        </div>
                    </div>
                    }
            </div>
        </div>
    </section>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<nav aria-label="Page navigation example">
    @Html.PagedListPager(Model, page => Url.Action("Index", new{page = page, category = ViewBag.category}))
 </nav>
@section Scripts
{
    <environment include="Development">
        <script src="~/js/Product.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Product.min.js"></script>
    </environment>
}